.box-logo {
  width: 200px !important;
  height: auto;
}
.width49 {
  width: 49%;
}
.indexmodal {
  z-index: 1000 !important;
}

.indexnavbar {
  z-index: 7 !important;
}

.indexbehindnavbar {
  z-index: 1 !important;
}
.box-logo img {
  object-fit: contain !important;
}
.modal-backdrop {
  z-index: 1;
}

.text-70 {
  font-size: 100% !important;
}

@media only screen and (max-width: 600px) {
  .text-70 {
    font-size: 70%;
  }
}
