.box-logo {
  width: 200px !important;
  height: auto;
}

.box-logo img {
  object-fit: contain !important;
}

.text-70 {
  font-size: 100%;
}

@media only screen and (max-width: 600px) {
  .text-70 {
    font-size: 70%;
  }
}
